{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'roles:index' %}" >
    <i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

    <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                     Modificar Rol
                </h1>
            </div>
        </div>
    <!-- /.row -->

<form action=" {{ roles.get_absolute_url }} " method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Modificar" class="btn btn-primary"/>
</form>
{% endblock %}