{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'usuarios:index' %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                 Activar Usuario
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->

<form action="{{ usuario.get_absolute_url }}" method="post">
	{% csrf_token %}
    <p>¿Está seguro que desea activar el usuario "{{ user_detail }}"?</p>
    <input type="submit" value="Activar" class="btn btn-success"/>
</form>
{% endblock %}