{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'usuarios:update' user_detail.pk %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                 Cambiar contraseña
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->
<div id="form_usuario">
<form action=" {{ usuario.get_absolute_url }} " method="post">
	{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Cambiar" class="btn btn-success"/>
</form>
</div>
{% endblock %}