<html lang="es">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>SGC</title>
  	{% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet" media="screen">
      <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
      <link href="{% static 'css/morris.css' %}" rel="stylesheet" media="screen">
  </head>

  <body>
  <div id="wrapper">
  	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">SGC</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-user"></i> {{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'user_profile' %}"><i class="fa fa-fw fa-user"></i> Mi Perfil</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href=" {% url 'django.contrib.auth.views.logout' %} "><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav nav-pills nav-stacked side-nav">

                    {% if perms.usuarios %}
                    <li>
                        <a href="{% url 'usuarios:index' %}"><i class="fa fa-lg fa-user"></i> Usuarios</a>
                    </li>
                    {% endif %}
                    {% if perms.auth.add_group or perms.auth.change_group or perms.auth.delete_group or perms.roles_proyecto %}
                    <li>
                        <a aria-expanded="true" class="" href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-lg fa-arrows-v"></i> Roles <i class="fa fa-lg fa-caret-down"></i></a>
                        <ul style="" aria-expanded="true" id="demo" class="collapse in">
                            {% if perms.auth.add_group or perms.auth.change_group or perms.auth.delete_group %}
                            <li>
                                <a href="{% url 'roles:index' %}"><i class="fa fa-lg fa-group"></i> Roles de Sistema</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if perms.odontologos %}
                    <li>
                        <a href="{% url 'odontologos:index' %}"><i class="fa fa-lg fa-user"></i> Odontologos</a>
                    </li>
                    {% endif %}
                </li>



                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                {% block content %}

    			{% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
	</div>



	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.es.js' %}"></script>
    <script src="{% static 'js/raphael-min.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>
    <script src="{% static 'js/forms.js' %}"></script>


  </body>
</html>