<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contraseña recuperada con exito</title>
	{% load staticfiles %}
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/signin.css" %}" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
<div class="row">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
						<h3>Contraseña nueva guardada</h3>
						<p>Ingrese al sistema con su nueva contraseña</p>

						<p><a href="{% url 'login' %}">Ingreso al sistema</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>